@model IEnumerable<Autopood.Models.Plane.PlaneIndexViewModel>
@{
    int rowNumber = 1;
}
<div class="h1">
    Products
</div>
<div>
    <a asp-action="Create" asp-controller="Planes" type="submit" class="btn btn-primary">Add</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Passengers</th>
                <th scope="col">Engine Power</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Plane in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@Plane.Name</td>
                    <td>@Plane.Model</td>
                    <td>@Plane.Seats</td>
                    <td>@Plane.Propeller</td>
                    <td>
                        <a asp-action="details" asp-controller="Planes" asp-route-id="@Plane.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="Planes" asp-route-id="@Plane.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="delete" asp-controller="Planes" asp-route-id="@Plane.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>