@model IEnumerable<PlaneClientIndexViewModel>
@{
    int rowNumber = 1;
}
<div class="h1">
    Products
</div>
<div>
    <a asp-action="Create" asp-controller="PlanesForClients" type="submit" class="btn btn-primary">Add</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Seats</th>
                <th scope="col">Engine</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Plane in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@Plane.Name</td>
                    <td>@Plane.Model</td>
                    <td>@Plane.Seats</td>
                    <td>@Plane.Engine</td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>